/* On mouse hover, lighten state color */
path:hover {
	fill-opacity: .7;
}

/* Style for Custom Tooltip */
div.tooltip {   
 	position: absolute;           
	text-align: center;           
	width: 30px;                  
	height: 15px;                 
	padding: 2px;             
	font: 12px sans-serif;        
	background: white;   
	border: 0px;      
	border-radius: 8px;           
	pointer-events: none;         
}
        
/* Legend Font Style */
body{font:normal 12px 'Segoe UI';}
*{box-sizing:border-box;}
/* Custom Styling */
svg#mapcontainer{width:100%;height:100%;}
.svg_element{width:100%;height:100%;position:absolute;left:0;top:0;padding:0px;box-sizing:border-box;background:#eee;overflow:hidden;}
.svg_element .title{position: absolute;right: 20px;padding: 0;margin: 0;font-weight: 400;font-size: 24px;top: 10px;color:#ef6c00;}
.svg_bar{width: 33%;height: 300px;position: absolute;bottom: 10px;background:rgba(255, 255, 255, 0.28);border-radius: 5px;border: 1px solid #b3b1ae;padding: 10px;}
.svg_bar svg{width:100%;height:100%;}
.title{font-size: 18px;color: #333;margin:0 0 10px 0;font-weight:400;color:#ef6c00;}
.filter_criteria {width:20%;padding:15px;position:absolute;left:10px;top:10px;z-index:1;background:rgba(255, 255, 255, 0.28);border-radius: 5px;border: 1px solid #b3b1ae;}
.filter_criteria ul {padding:0;margin:0;}
.filter_criteria ul li{list-style:none;padding:5px 0;}
.filter_criteria ul li select {margin-top: 5px;width: 100%;}
.filter_criteria ul li label {display: block;color: #333;font-size: 13px;font-weight: 500;text-align: left;}
.filter_criteria ul li label {margin-bottom: 0px;}
.btn{background:#fff;border:1px solid #b3b1ae;color:#ef6c00;padding:7px 20px;border-radius:3px;cursor:pointer;}
.btn:hover{border:1px solid #f39c12;background-color:#f39c12;color:#fff;}
.form-control {display: block;width: 100%;height: 34px;padding: 6px 12px;font-size: 14px;line-height: 1.428571429;color: #555555;vertical-align: middle;background-color: #ffffff;border: 1px solid #cccccc;border-radius: 4px;box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;}
.y.axis path, .y.axis line {fill: none;stroke: #000;shape-rendering: crispEdges;}
.d3-tip{background:none;border:0px;padding:0;}
.x.axis path {display: none;}